body {
  background-color: #1a1a1a;
  width: 100%;
  padding: 0;
  margin: 0; }

.container {
  height: 100vh;
  padding: 0;
  margin: 0; }
  .container.flex-center {
    display: flex;
    align-items: center;
    justify-content: center; }
  .container .full-width {
    width: 100%; }
