@import 'colors';

@import url(https://fonts.googleapis.com/css?family=Nunito:200,600);

$nunito: 'Nunito', sans-serif;

h1, h2, h3, h4, h5, p, li, textarea, input, button {
	font-family: $nunito;
	color: $black_10;
}

a {
	font-size: inherit;
	color: inherit;
}

h1, h2, h3, h4, h4 {
	font-weight: 600;
}

p {
	font-weight: 200;
	line-height: 1.5;
}