@import 'mixin';
@import 'typography';
@import 'colors';

body {
	background-color: $black_90;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container {
	height: 100vh;
	padding: 0;
	margin: 0;

	&.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.full-width {
		width: 100%;
	}

	.lead {
		padding-left: 15px;
		padding-right: 15px;

		@include breakpoint(small) {
			font-size: 24px;
			max-width: 100%;
		}

		@include breakpoint(large) {
			font-size: 28px;
			max-width: 50%;
		}
	}
}